 Задание 44 |

- В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

- import random
- st = ['robot'] * 10
- lst += ['human'] * 10
- random.shuffle(lst)
- data = pd.DataFrame({'whoAmI':lst})
- data.head() |

In [69]:
import pandas as pd
import random

In [78]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
print(lst)
data = pd.DataFrame({'whoAmI':lst})

data

['human', 'robot', 'human', 'robot', 'robot', 'robot', 'human', 'human', 'robot', 'human', 'human', 'human', 'human', 'robot', 'human', 'human', 'robot', 'robot', 'robot', 'robot']

   whoAmI
0   human
1   robot
2   human
3   robot
4   robot
5   robot
6   human
7   human
8   robot
9   human
10  human
11  human
12  human
13  robot
14  human
15  human
16  robot
17  robot
18  robot
19  robot

In [118]:
pd.get_dummies(data['whoAmI'])

    human  robot
0       1      0
1       1      0
2       0      1
3       0      1
4       1      0
5       1      0
6       0      1
7       1      0
8       0      1
9       0      1
10      1      0
11      1      0
12      0      1
13      0      1
14      1      0
15      0      1
16      1      0
17      1      0
18      0      1
19      0      1

In [119]:

def one_hot_encode(column):
    unique_values = column.unique()
    one_hot_data = pd.DataFrame()

    for value in unique_values:
      
        print (value)
        one_hot_data[value] = (column == value).astype(int)

    return one_hot_data

one_hot_data = one_hot_encode(data['whoAmI'])

one_hot_data.head(len(lst))

human
robot

    human  robot
0       1      0
1       1      0
2       0      1
3       0      1
4       1      0
5       1      0
6       0      1
7       1      0
8       0      1
9       0      1
10      1      0
11      1      0
12      0      1
13      0      1
14      1      0
15      0      1
16      1      0
17      1      0
18      0      1
19      0      1